[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/weixu000/glad.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
